@model Category

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create Category</h2>
			<hr/>
		</div>
		<div class="form-group mb-3">
			<div class="form-floating mb-3">
				<input asp-for="Name" type="text" class="form-control" id="floatingInput" placeholder="Name">
				<label asp-for="Name" for="floatingInput"></label>
				<span asp-validation-for="Name" class="text-danger pt-1"></span>
			</div>
			<div class="form-floating">
				<input asp-for="DisplayOrder" type="text" class="form-control" id="floatingPassword" placeholder="Password">
				<label asp-for="DisplayOrder" for="floatingPassword"></label>
				<span asp-validation-for="DisplayOrder" class="text-danger pt-1"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-primary form-control">Create</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control">Back To List</a>
			</div>
		</div>
	</div>
</form>
@section Scripts {
	@{
	<partial name="_ValidationScriptsPartial"/>
	}
}